<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(titulo)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo} + ' - El Mandado'">El Mandado</title>
    <link rel="shortcut icon" th:href="@{/icon.png(v=2)}" type="image/png">
    <link rel="icon" th:href="@{/icon.png(v=2)}" type="image/png">   
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>

    <!-- Menú Navbar principal sin la opción duplicada -->
    <nav th:fragment="menu(activo)" class="navbar card">
        <a th:href="@{/pedidos}" class="navbar-brand">🚚 El Mandado 
        <div class="nav-links">
            <a th:href="@{/}" class="nav-link">Inicio</a>
            <a th:href="@{/pedidos}" 
               class="nav-link" 
               th:classappend="${activo == 'lista'} ? 'active' : ''">Lista de Pedidos</a>
        </div>
    </nav>

</body>
</html>